/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
} */

 #logo {
  font-size: 48px;
  opacity: 0;
  transition: opacity 2s;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);

}
#logo img{
  width: 200px;
}

#content {
  text-align: center;
}